pre{
	white-space: pre;
	word-wrap: normal;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	overflow: auto;
	color: #fff;
	padding: 12px;
	border-radius: 2px;
	
	code{
		color: rgba(0, 0, 0, 0.8);
	}
}

code{
	color: #c6538c;
}

.cm{
	color: rgba(0, 0, 0, 0.4);
}

.k, .na{
	color: #008800;
}

.sb, .sc, .sd, .s2, .no, .nd{
	color: #e74c3c;
}

.mi, .kt, .mh, .mf{
	color: #3498db;
}