/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
.overflow-hidden, %overflow-hidden{
	overflow: hidden;
}

.position--relative, %position--relative{
	position: relative;
}

.position--fixed, %position--fixed{
	position: fixed;
}

.position--absolute, %position--absolute{
	position: absolute;
}

.hide-desk{
	@include mq(720px) {
		display: none;
	}
}

.hide-portable{
	@include mq(719px, max) {
		display: none !important;
	}
}

/**
 * Font weights
 */
.weight--semibold, %weight--semibold { font-weight: 600 !important; }

.weight--normal, %weight--normal     { font-weight: 400 !important; }




/**
 * Text Transform
 */
.uppercase, %uppercase      {text-transform: uppercase !important;}


.flush--sides, %flush-sides   { margin-right: 0!important; margin-left:  0!important; }


.lead--heading{
	@extend %uppercase;
	@extend %weight--semibold;
}


.bolded--numbers{
	& > li{
		@extend %weight--semibold;
		
		& > dl, & > ul, & > ol, p{
			@extend %weight--normal;
		}
	}
}