.preload{
	display: none !important;
}

body .page{
	position: relative;
	
	height: 100%;
}

.outer-wrap{
	position: relative;
	overflow: hidden;
	width: 100%;
}

	.inner-wrap {
		position: relative;
		width: 100%;
	}

.site-main{
	position: relative;
	top: 30px;
	z-index: 1;
	
	width: auto;
	padding-bottom: 100px;
	
	@include mq(740px) {
		top: 0;
		@include rem-calc(margin-left, 260px);
		@include rem-calc(margin-top, 40px);
	}
	/*
	@include mq(740px) { 
		margin-right: 0;
		-ms-transform: translate(250px, 0);
		-moz-transform: translate(250px, 0);
		-webkit-transform: translate3d(250px, 0, 0);
		transform: translate(250px, 0);
	}
	*/
}


.content{
	width: 430px;
	max-width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	@include rem-calc(margin-top, 40px);
	
	@include mq(740px) {
		position: relative;
				
		margin-top: 0px;
	}
	@include mq(890px) {
		width: 580px;
	}
	@include mq(1160px) {
		width: 660px;
	}
	
}

.page__header, .section__content{
	@include double-spacing(margin-bottom);
} 

.section__title{
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

ul, ol, dd{
	@include mq(740px, max) {
		@include spacing(margin-left);	}
	} 

dl > dd{
	@include mq(740px, max)  {

		margin-left:  0;
		
	}
}

.close-btn{
	display: block;
}

blockquote{}
