%invisible {
  position: absolute;
  top: -999999em;
  left: auto;
  width: 1px;
  height: 1px;
  overflow:hidden;
}

%invisible--large{
	@include mq(740px) {
		@extend %invisible;
	}
}

html{
	height: 100%;
}

body{
	height: inherit;
	color: #484c55;
}

.page-header{
	position: relative;
	top: 0;
	z-index: 1;	
	
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
		
	width: 100%;
	height: 74px;
	
	background-color: #c6538c;
	
	cursor: default;
	/*
	-webkit-transform: translate3d(0px, 0, 0);
	   -moz-transform: translate(0px, 0);
	    -ms-transform: translate(0px, 0);
	        transform: translate(0px, 0);
	*/
	-webkit-touch-callout: none;
	
	//@include vendor(transition, width ease 0.28s, background linear 0.1s);
	@include vendor(user-select, none);
	
	@include mq(740px) {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 250px;
	}	
}

	
.site-nav{
	overflow-y: auto !important;
	overflow-x: hidden;
	box-sizing: content-box;

	a{
		width: 100%;
		padding: 12px;
		color: #ffffff;
		
		small{
			display: block;
		}
	}
}


/**

.js-nav--collapse{
	.page-header{
		@include mq(740px) {
			width: 77px;
		}	
	}
	
	.site-main{	
		@include mq(740px) {
			-ms-transform: translate(77px, 0);
			-moz-transform: translate(77px, 0);
			-webkit-transform: translate3d(77px, 0, 0);
			transform: translate(77px, 0);
		}
	}
	a span{
		@include mq(740px) {
			display: none;
		}
	}
}

*/